body{
    background: #d8d7d765;
}

p{
    color: #222222;
}

.foto-principal{
    width: 200px;
    border: 5px solid #FFFFFF; /* Shor hand */
   border-radius: 50%;
   margin: 30px 30px 30px 30px;
   padding: 10px;
}